<!DOCTYPE html>
<html>
<head>
	<title>Web final</title>
</head>
<body>
	<form action="/anasayfa" method="get">
		<label>Kosul: </label>
		<input type="text" name="kosul" value="<%= kosul %>">
		<br>
		<input type="submit" value="Filtrele">
    </form>

	<div class = "data-table">
		<table border="%25">
			<tr>
				<th>id</th>
				<th>sehir-id</th>
				<th>ilce-adi</th>
			</tr>
			<% if (bilgiler.length !== 0){ %>
				<% bilgiler.forEach(function(data, index){ %>
					<tr>
						<td><%= index + 1 %></td>
						<td><%= data.id %></td>
						<td><%= data.sehir_id %></td>
						<td><%= ilce-adi %></td>
					</tr>
				<% }); %>
			<% }else { %>
				<tr>
					<td colspan="7">No data found</td>
				</tr>
			<%} %>
		</table>
	</div>
</body>
</html>
